@font-face {
  font-family: 'centuryg';
  src: url('./fonts/gothic.eot');
  src: url('./fonts/gothic.woff') format('woff'),
  url('fonts/centurygothicregular.ttf') format('truetype');
} 

#bg {  top: 0; left: 0;background-position: center;background-repeat: no-repeat!important;}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.button {
    background-color: rgba(0, 140, 186, 0.69); /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 90%;
  }

  .button2 {
    background-color: rgba(0, 140, 206, 0.59); /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 90%;
  }
  
  .button3 {
    background-color: rgba(0, 0, 0, 0.89); /* black */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    width: 80%;
    margin-top: 10%;
    font-family: 'centuryg';
  }

  .button4 {
    background-color: #6097d8;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 5px;
    height: 70px;
    width: 80%;
    font-family: 'centuryg';
  }

  .button5 {
    background-color: #1c1b1b;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 5px;
    height: 70px;
    width: 80%;
  }

  .img_button {
    margin-right: 5px;
    vertical-align: middle;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 15px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding-left: 15px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding-left: 15px;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding-left: 15px;
  }

  .input-register{
    width: 80%;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-color: #5c5e5e;
    border-bottom-width: 1px;
    margin-top: 29px;
    font-family: 'centuryg';
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 4px;
  }

  .button-step {
    background-color: white;
    color: rgb(88, 88, 88);
    border: 1.4px solid #727474;
    padding: 22px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    width: 75%;
    font-family: 'centuryg';
    margin-top: 3%;
  }

  .image-step{
    margin-top: 3%;
    height: 5%;
    width: 25%;
  }
  .active-bottom-nav{
    background-color: #dbdbdb;
    width: 100%;
    height: 5px;
  }
  .active{
    background-color: #75c2cd!important;
  }
  .delete-margins{
    padding: 0 0 0 0;margin: 0 0 0 0;
  }

  .bottom-nav{
    font-weight: 500;
    color: #454747;
    font-size: 1.1em;
    font-family: 'centuryg';
    bottom: 0;
    position: fixed;
    height: 81px;
    background-color:#121213;
    width: 100%;


  }